:root {
  --mygreen: rgb(40, 82, 68);
  --myblack: rgb(24, 24, 24);
  --myyellow: rgb(237, 190, 35);
  --mydarkblue: rgb(10, 20, 70);
  --myblue: rgb(113, 140, 181);

  --primaryblue: rgb(30, 136, 229);
}
